# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Fail if required Docker Registry Purger settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) for using this role.
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - docker_registry_purger_uid
    - docker_registry_purger_gid
    - docker_registry_purger_container_network
    - docker_registry_purger_registry_url
