{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Launches the {{ docker_registry_purger_identifier }}.service periodically

[Timer]
Unit={{ docker_registry_purger_identifier }}.service
OnCalendar={{ docker_registry_purger_schedule }}

[Install]
WantedBy=timers.target
